/* #region Fonts */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/jet-brains-mono/jet-brains-mono-regular.woff2') format('woff2'),
    url('./fonts/jet-brains-mono/jet-brains-mono-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/jet-brains-mono/jet-brains-mono-medium.woff2') format('woff2'),
    url('./fonts/jet-brains-mono/jet-brains-mono-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/jet-brains-mono/jet-brains-mono-semi-bold.woff2') format('woff2'),
    url('./fonts/jet-brains-mono/jet-brains-mono-semi-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/jet-brains-mono/jet-brains-mono-bold.woff2') format('woff2'),
    url('./fonts/jet-brains-mono/jet-brains-mono-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/cera-pro/cera-pro-regular.woff2') format('woff2'),
    url('./fonts/cera-pro/cera-pro-medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/cera-pro/cera-pro-medium.woff2') format('woff2'),
    url('./fonts/cera-pro/cera-pro-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/cera-pro/cera-pro-bold.woff2') format('woff2'),
    url('./fonts/cera-pro/cera-pro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* #endregion Fonts */

/* #region General */
:root {
  --pink-color:#FF57D4;
  --dark-color: #141422;
  --turquoise-color: #35DBE5;
  --blue-color: #567BFF;
  --purple-color: #8313F3;
  --green-color: #B7FF5C;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-family: 'Cera Pro', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: #fff;
  background-color: var(--dark-color, #000); 
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-image: url('./img/main-screen-left-gradient.svg'), url('./img/main-screen-right-gradient.svg'), url('./img/main-screen-image.png');
  background-size: 46%, 72%, 78%;
  background-position: top left, top right, top right;
  background-repeat: no-repeat; 
}
.container {
  min-width: 300px;
  max-width: 1184px;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
}
.visually-hidden {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
}
.section {
  padding-top: 160px;
  padding-bottom: 240px;
}
.section__heading {
  font-weight: 500;
  font-size: 54px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 80px;
}
.logo {
  display: block;
  font-size: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.logo:hover {
  opacity: 0.6;
}
.logo__img {
  width: 100%;
  height: auto;
}
.accented-text {
  color: var(--pink-color);
}
.turquoise-text {
  color: var(--turquoise-color);
}
.blue-text {
  color: var(--blue-color);
}
.purple-text {
  color: var(--purple-color);
}
.button {
  background-color: var(--pink-color);
  color: #fff;
  padding: 20px 40px 16px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;  
}
.button__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;        
}
.button__img {
  /* display: inline-block; */
}
/* #endregion General */

/* #region Header */
.header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__container {
  min-width: 300px;
  max-width: 1344px;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;                     
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
}
.header__socials-item {
  text-decoration: none;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header__socials-item:hover {
  opacity: 0.6;;
}
.header__socials-icon {
  width: 30px;
  height: auto;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.header__nav-item {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2px 10px;
  font-size: 16px;
}
.header__burger {
  width: 1.75rem;
  height: .7rem;
  border: none;
  padding: 0;
  background-color: transparent;   
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  display: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 1;
}
.header__burger::before,
.header__burger::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #000;
  width: 100%;
  height: 3px;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
/* #endregion Header */

/* #region Main Screen */
.main-screen {
  padding-bottom: 220px;
}
.main-screen__heading {
  font-family: 'JetBrains Mono', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 1.1;
  width: 72%;
  margin-top: 140px;
  margin-bottom: 80px;
}
/* #endregion Main Screen */

/* #region Features */
.features {
  overflow: hidden;
}
.features__heading {
  max-width: 1032px;
  margin-bottom: 140px;
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;        
}
.features__item {
  width: 260px;
  position: relative;
}
.features__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  text-transform: uppercase;
  font-family: 'JetBrains Mono', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.32; 
  margin-top: 0;
  margin-bottom: 296px;       
}
.features__item-img {
  width: 272%;
  height: auto;
  position: absolute;
  top: -85px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.features__item-img_algo {
  -webkit-transform: translateX(-42%);
      -ms-transform: translateX(-42%);
          transform: translateX(-42%);
}
.features__item-img_ai-news {
  width: 266%; 
  top: -10px;
}
.features__item-img_smart-dom {
  -webkit-transform: translateX(-58%);
      -ms-transform: translateX(-58%);
          transform: translateX(-58%);
}
.features__item-description {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 18px;
  letter-spacing: 1px;
}
.features__item-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}
.features__item-link_algo {
  color: var(--turquoise-color);
}
.features__item-link_ai-ews {
  color: var(--blue-color);
}
.features__item-link_smart-dom {
  color: var(--purple-color);
}
/* #endregion Features */

/* #region Utility */
.utility {
  padding-top: 0;
}
.utility__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;        
}
.utility__note {
  letter-spacing: 1px;
}
.utility__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.utility__item {
  background-color: #191927;
  padding: 258px 40px 46px;
  background-repeat: no-repeat;
  background-size: 138px;
  background-position: top 40px left 40px;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 1.5px;
}
.utility__item-1 {
  background-image: url('./img/token-utility-icon-1.svg');
}
.utility__item-2 {
  background-image: url('./img/token-utility-icon-2.svg');
}
.utility__item-3 {
  background-image: url('./img/token-utility-icon-3.svg');
}
.utility__item-4 {
  background-image: url('./img/token-utility-icon-4.svg');
}
.utility__item-5 {
  background-image: url('./img/token-utility-icon-5.svg');
}
.utility__item-6 {
  background-image: url('./img/token-utility-icon-6.svg');
}
/* #endregion Utility */

/* #region Distribution */
.distribution {
  padding-top: 0;
}
.distribution__pie-chart {
  width: 690px;
  height: 550px;
  width: 62%;
  /* height: 49%; */
}
.distribution__bar-chart {
  width: 100%;
  height: 400px;
}
/* #endregion Distribution */

/* #region Products */
.products__header {
  display: grid;
  grid-template-columns: 1fr auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 80px;        
}
.products__heading {
  margin-bottom: 0;
  grid-column: 1/3;
  line-height: 1.26;
}
.products__header-note {
  letter-spacing: 1px;
}
.products__header-link {
  color: var(--pink-color);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.products__item {
  border: 1px solid #313149;
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.products__item-heading {
  text-transform: uppercase;
  font-family: 'JetBrains Mono', 'Arial', sans-serif;
  font-size: 61px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 80px;
  line-height: 1.05;
  word-spacing: -15px;
}
.products__item-description {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.26;
}
.products__item-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  margin-top: auto;
}
/* #endregion Products */

/* #region Roadmap */
.roadmap {
  background-image: conic-gradient(from 180deg at 50% 363px, var(--dark-color), var(--pink-color));;
}
.roadmap__heading {
  text-align: center;
}
.roadmap__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  -webkit-column-gap: 128px;
     -moz-column-gap: 128px;
          column-gap: 128px;
  position: relative;        
}
.roadmap__list::before,
.roadmap__list::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #fff;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.roadmap__list::before {
  width: 2px;
  height: 100%;
}
.roadmap__list::after {
  width: 8px;
  height: 116px;
}
.roadmap__item {
  font-size: 28px;
  line-height: 1.1;
}
.roadmap__item p {
  margin-top: 0;
  margin-bottom: 24px;
}
.roadmap__item p:last-child {
  margin-bottom: 0;
}
.roadmap__item-2 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.roadmap__item-2 .roadmap__item-heading {
  text-align: right;
}
.roadmap__item-3 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.roadmap__item-heading {
  font-family: 'JetBrains Mono', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  padding-top: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #fff;
  margin-top: 0;
  margin-bottom: 40px;
}
/* #endregion Roadmap */

/* #region Exchanges */
.exchanges__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 27px;        
}
.exchanges__list {
  grid-column: 2/3;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  row-gap: 40px;
  padding: 0 17px;
}
/* #endregion Exchanges */

/* #region Footer */
.footer {
  background-color: #0F0F16;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__logo {
  width: 57px;
}
/* #endregion Footer */